$color__primary--dark:      #005284; 
$color__primary:            #085191;
$color__primary--lighter:   #0066a1;
$color__primary--lighter-a: #1194db;
$color__primary--light:     #00a0ec;
$color__primary--tender:    #5fd5ff;


$color__text--secondary:    #1194db; 

$color__text:               #181818;
$color__text--lighter:      rgba($color__text, 0.6);
